.tooltip {
  position: relative;
  cursor: help;
  border-bottom: 1px dotted #aaa;
}

.tooltip::after {
  content: attr(data-text);
  position: absolute;
  bottom: 125%;
  left: 0;
  background: #1e1c1a;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  font-size: 13px;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
}

/* Тултип с картинкой */
.tooltip-img {
  position: absolute;
  bottom: 125%;
  left: 0;
  background: #1e1c1a;
  padding: 6px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 10;
}

.tooltip-img img {
  display: block;
  max-width: 200px;
  border-radius: 4px;
}

.tooltip:hover .tooltip-img {
  opacity: 1;
}

/* Тултип с несколькими изображениями */
.tooltip-images-container {
  position: absolute;
  bottom: 125%;
  left: 0;
  background: #1e1c1a;
  padding: 6px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tooltip-images-container .tooltip-img {
  position: relative;
  bottom: auto;
  left: auto;
  background: transparent;
  padding: 0;
  border-radius: 0;
  opacity: 1;
}

.tooltip:hover .tooltip-images-container {
  opacity: 1;
}